body {
    background: white;
    height: 100%;
}
#wrapper {
    background: #CCC;
    width: 100%;
    width: calc(100% - 120px);
    margin: 0 auto;
    padding: 35px;
    min-height: 400px;
    position: relative;
    text-align: center;
}
.forms {
    background: white;
    min-width: 500px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0, .25);
    text-align: left;
    padding: 0 30px 25px;
    margin: 0 auto;
    vertical-align: top;
}
.input {
    display: block;
    margin: 5px 0;
}
.label {
    font-weight: bold;
    display: inline;
}
.hide {
    display:none;
}